# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py

# SQLite / local DB
*.sqlite3

# Env files
.env
.env.*

# Virtualenv
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Static collected
/staticfiles/

# Media uploads
/media/
